<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
       history.pushState(null, null, location.href);
       window.onpopstate = function(){
           history.go(1);
       }
    </script>
</th:block>

<head>
    <title>보드정보</title>
</head>

<div th:if=${session.id} layout:fragment="content">
    <div class="container">
        <th:block th:include="board/clause.html"></th:block>
        <th:block th:include="board/list.html"></th:block>
    </div>
</div>

</html>