<div  class="userInfo" th:if=${session.id}>
    <span th:text="${session.id}"></span><span> 님 / </span>
    <span th:text="${session.mbLevel}"></span><span> 레벨</span>
    <button type="button">
        <a th:href="@{logout}" style="color: #fff">로그아웃</a>
    </button>
</div>

<div class="title" style="color:#00a2be">보드 리스트</div>
<form role="form" action="upload" method="post" enctype="multipart/form-data">
    <div class="section form">
       <table>
        <colgroup>
            <col style="width:10%"/>
            <col style="width:90%"/>
        </colgroup>
        <tbody>
            <tr> 
                <th>제목</th>
                <td>
                    <input type="hidden" name="seq" placeholder="글번호" required/>
                    <input type="text" name="title" placeholder="제목" required/>
                </td>
            </tr>
            
            <tr> 
               <th>내용</th>
                <td >
                   <textarea colspan="2" id="story" name="content" placeholder="내용을 적어주세요." rows="5" cols="200" required></textarea>
                </td>
            </tr>
            <tr> 
               <th><label for="file">첨부파일</label></th>
                <td>
                    <input type="file" id="file" name="files" multiple />
                </td>
            </tr>
        </tbody>
       </table>
       <div class="button">
            <button type="submit" style="margin-right: 11px">글쓰기</button>
       </div>
    </div>

</form>