<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment">
       <div class="lnb">
           <div class="logo">
                <a th:href="@{bdList}"> <span>SpringBoot</span> <span>STUDY</span></a>
           </div>
           
           <div class="useInfo">
               <span>genie</span>
           </div>
           
           <ul class="nav">
               <th:block>
<!--               <th:block th:if="${session.userAuth}==3"> 쿼리스트링보내기-->
                   <li class="on"><a class="menu1" href="#">맴버정보</a></li>
               </th:block>
               <th:block>
                   <li class="on"><a class="menu1" th:href="@{bdList}">보드정보</a></li>
               </th:block>
           </ul>
       </div>
    </header>
</html>